.nav-link {
  color: #724cf9;
  margin: 0 8px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  width: max-content;
}

.nav-link:hover {
  color: #320cb8;
}

.nav-link::after {
  content: "";
  background-color: #724cf9;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transition: 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-active {
  color: #0041bb;
}

.nav-link-active:hover {
  color: #0041bb;
}

.nav-link-active::after {
  background-color: #0041bb;
  width: 100%;
}

.header-pad {
  padding-top: 100px;
}

.carousel-inner img {
  height: 650px;
}

.cart-position {
  top: 110px;
  height: 300px;
}

.sample {
  min-height: 300px;
  height: 1000px;
}

.menu-line {
  height: 3px;
  width: auto;
  background-color: #111111;
}

.cat-line {
  height: 1px;
  width: auto;
  background-color: #5b5a5a;
}

.item-body {
  background-color: #d2cbcb;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-btn {
  height: 28px;
  width: 28px;
  border-radius: 2px;
  font-size: 16px;
  border: none;
  background-color: rgba(0, 0, 0, .5);
  margin: 0 8px;
  transition: .1s;
}

.item-btn:hover {
  background-color: black;
  color: white;
}

@media (max-width: 992px) {
  .nav-link {
    margin: 12px 0;
  }
}